__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache/
*.egg
*.egg-info/
dist/
build/
*.log
.env
venv/
env/
*.sqlite3

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.pnpm-debug.log*
.vite/
*.local
/build
/dist
/.cache

.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

coverage/
*.cover
*.py,cover
*.pid
*.seed

/web/www/images/local/*
/web/www/images/storage/*
/web/www/images/artists/*
/web/www/images/nowplaying/*
/web/www/images/shairportsync/*

!/web/www/images/local/.gitkeep
!/web/www/images/storage/.gitkeep
!/web/www/images/artists/.gitkeep
!/web/www/images/nowplaying/.gitkeep
!/web/www/images/shairportsync/.gitkeep